#top_header{
  color: white;
  background-color: #111111;
  padding:5px;
  overflow: auto;
}

#top_header h1 {
  font-size: 42px;
}

#top_header .social_but{
  float:right;
  margin-right: 40px;
}

#nav{
  background: linear-gradient(#0b00c1, #05005b);
  color:white;
  padding:5px;
}

#nav ul li{
  display:inline;
  margin-left: 60px;
  font-size: 22px;
  transition: text-shadow 1s;
}

#nav ul li:hover {
  text-shadow: 2px 2px 12px white;
}

#home_wrapper{
  margin-top:20px;
  line-height: 2;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#intro_para{
  width:50%;
  margin:auto;
  padding:5px;
  box-shadow: 10px 10px 8px 10px #888888;
  margin-bottom: 40px;
}

#heading_websites{
  margin:auto;
  width:70%;
}

.iframe_site a:link{
  text-decoration: none;
  color:black;
}

.iframe_site a:visited {
  text-decoration: none;
  color:black;
}

.iframe_site a:hover{
  text-decoration: underline;
}

#sidebar{
  color: white;
  background-color: #111111;
  width:3%;
  text-align: center;
  padding: 5px;
  padding-bottom: 2080px;
  float:left;
  border-right: 1px solid white;
}

#sidebar_wrapper img{
  padding-top: 10px;
  padding-bottom: 70px;
}

#each_project{
  background-color: #111111;
  color:white;
  padding:10px;
  width:75%;
  border-bottom: 1px solid white;
}

#each_project button{
  background: linear-gradient(#0b00c1, #05005b);
  color:white;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 18px;
  padding:5px;
}

#all_projects{
  float:left;
  width:50%;
}

#code_display{
  background-color: #111111;
  color:white;
  box-shadow: 5px 5px 8px 5px #888888;
  padding:10px;
}

#web_apps_wrapper{
  margin:auto;
  width:50%;
}

#web_apps{
  padding:10px;
  box-shadow: 5px 5px 8px 5px #888888;
  margin-bottom:60px;
  text-align: center;
  font-weight: bold;
}

#stats_wrapper{
  text-align: center;
}


#resume_wrapper{
  margin: auto;
  width:50%;
}

#exp, #edu{
  margin-bottom: 60px;
}

.res_sec{
  box-shadow: 5px 5px 8px 5px #888888;
  padding: 20px;
  margin-bottom: 20px;
}

#footer{
  text-align: center;
  padding:40px;
  color:white;
  background-color: #111111;
  margin-top: 20px;
}

#footer a{
  color:white;
}
